@tailwind base;
@tailwind components;
@tailwind utilities;

.land-page {
    max-width: 1512px;
    margin: auto;
    text-align: center;
}
.navbar {
    
    margin-top: 10px;
    
}

.main-container {
    background-image: URL('../img/Group.svg');
    background-size: cover;
}
.nav-container {
    max-width: 1280px;
    margin-top: 50px;
    margin: auto;
    
}


.navbar>li{
    margin-right: 30px;
}

.button-black{
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 5px;
}

.arrow-position{
    position: absolute;
    top:-2rem;
    left:23.25rem;
}
.vid-container{
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            linear-gradient(90deg, #6848e0 0%, #e228f0 100%);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;

}

.span-cont{
    margin-left: 400px;
}

.description-container {
    width: 1060px;
}

.container-gradient{
    background: linear-gradient(to right,transparent 7%, #F0FBB9,#FBB3A0,#BFA2FD,#A4D0FC,#9FE9E2,#9FFACE,transparent 93%);
    height: 25px;
    position: relative;
    width:850px;
    opacity: 60%; 
}

.offer-box{
    width: 864px;
}

.question-container {
    width:800px;
}

.box{
    box-shadow:    
    10px -15px 54px -12px rgb(240, 251, 185,0.5),
    -22px 16px 54px -2px rgb(251, 179, 160, 0.5),
    -18px -32px 54px 2px rgb(159, 250, 206,0.5), 
    32px 8px 54px 2px rgb(191, 162, 253,0.5)
 
}

.box-banner {
    width: 1190px;
    margin:auto;
    border-bottom: 2px solid black;
}

.box-cont{
    width: 1190px;
}

.black-banner{
    background: black;
    width: 1136px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.box-description {
    width: 48%;
    text-align: left;
    padding: 45px 0 15px 45px;
}

.cromatic-arrow{
    position: relative;
}

.cromatic-arrow-position{
    position: absolute;
    top: -1px;
    left:48rem;
}

.wizard-link {
    margin: 40px 80px 15px 0;
    color: white;
    font-size: 18px;
    font-weight:400;
    
}

.footer-box {
    width: 1136px;
    margin: auto;
}

.num-box{
    display: block;
    width: 50%;
    border-right: 2px solid black;
}

.num-year {
    font-weight: bolder;
    font-size: 30px;
    
}

.years-box {
    border: 2px solid black;
    width: 130px;
    margin-top:15px;
}

.top-box{
    display: flex;
    flex-direction: row;
    
}

.built-by{
    font-size: 9px;
    font-weight: 200;
}

.rated{
    
    border-top: 2px solid black;
}

.learn-list>li{
    margin-top: 6px;
}

@media (max-width: 640px){
    .black-banner{
        
        width: 375px;
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .box-banner{
        width:395px
    }

    .footer-box {
        width: 375px;
    }

    .description-container {
        width: 375px;
    }

    .offer-box{
        width: 375px;
    }

    .question-container {
        width:375px;
    }

    .land-page {
        min-width: 390px;
        width: 100%
    }

    .cromatic-arrow-position{
        display: none;
    }

    .arrow-position{
     
        top:-2rem;
        left:2.25rem;
    }
    .span-cont{
        margin-left:40px;
    }

    .box-description {
        width: 90%;
        
        padding: 15px 0 15px 15px;

    }

    .wizard-link {
        margin: 40px 10px 20px 140px;
        text-align: right;
    }
}